<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/login">Dashboard<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="panel panel-primary" ng-repeat="post in posts">
  <div class="panel-heading">
    <h4>{{ post.subject }}</h4>
  </div>
  <div class="panel-body">
    <a ng-href="/#/viewpost/{{ post.id }}"><p>
      {{ post.content }}
    </p></a>
  </div>

  <div class="panel-footer"> Post by: {{ post.user.email }} |
    <a ng-href="/#/viewpost/{{ post.id }}">Likes
    <span class="badge">{{ post.likeCount }}</span></a>
    <a ng-href="/#/viewpost/{{ post.id }}">Comments
    <span class="badge">{{ post.commentCount }}</span></a>
  </div>
</div>
