<div class="panel panel-primary" ng-show="post">
  <div class="panel-heading">
    <h4>{{ post.subject }}</h4>
  </div>
  <div class="panel-body">
    <p>
      {{ post.content }}
    </p>
  </div>

  <div class="panel-footer">Post by: {{ post.user.email }} | Comments
    <span class="badge">Comment count: {{ post.commentCount }}</span>
    <span class="badge">Like count: {{ post.likeCount }}</span>
  </div>
</div>

<div ng-hide="user.username || !post"><h4><a ng-href="/#/login">Login</a> to like/comment</h4></div>
<form name="likePostForm" ng-submit="likePost()" novalidate ng-show="user.username">
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Like post</button>
</form>
<br>

<h4>Comments</h4>

<div class="panel panel-primary" ng-repeat="comment in post.comments">
  <div class="panel-body">
    <a ng-href="/#/viewcomment/{{ comment.id }}"> {{ comment.content }}</a>
  </div>
  <div class="panel-footer">
    <span class="label label-default">By: {{ comment.user.email }}</span>
    Likes <span class="badge">{{ comment.likeCount }}</span></a>
  </div>
</div>

<form name="addCommentForm" ng-submit="addComment()" novalidate ng-show="user.username">
  <div><h4>Add comment</h4></div>
  <div>
    <label for="comment">Comment</label>
    <textarea name="comment" class="form-control" id="comment" placeholder="Comment"
              ng-model="comment"></textarea>
  </div>

  <br>
  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add comment</button>
</form>
