<div class="panel panel-default" ng-show="comment">
  <div class="panel-body">
    <p>
      {{ comment.content }}
    </p>
  </div>

  <div ng-hide="user.username || !comment"><h4><a ng-href="/#/login">Login</a> to like</h4></div>
    <form name="likeCommentForm" ng-submit="likeComment()" novalidate ng-show="user.username">
      <button type="submit" class="btn btn-secondary">Like comment</button>
    </form>
  </div>

  <div class="panel-footer">Comment by: {{ comment.user.email }}
    <span class="badge">Like count: {{ comment.likeCount }}</span>
  </div>
</div>
